@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Mockups</h1>
    <ul>
        <li><a href="@Url.Action("Quiz", "Quiz")">Quiz</a></li>
        <li><a href="@Url.Action("QuizResult", "Quiz")">Quiz Results</a></li>
    </ul>
</div>